

#footer{
    background-color:	darkred;
    color: white;
    margin-top:5%;
    padding-bottom: 2%;
}

#copyright{
    margin-top: 1.5%;
    margin-left: 1%;
}

#login{
    margin-top: 80px;
}


#search-form{
    margin-top: 5%;
}

